<div class="table-ninja-result">
    <a class="button table-ninja-reroll" onclick="ui.tableNinja.rollOneTable('{{this.id}}')"><i class="fa fa-dice"></i></a>
    <select onchange="updateText('ninja-{{this.id}}', this.value)" class="button table-ninja-select">
        {{#each this.rolls}}
            <option>{{this.text}}</option>
        {{/each}}
    </select>
    <label class="table-ninja-label">{{this.name}}</label>
    <div id="ninja-{{this.id}}" class="table-ninja-text">{{{table-ninja-truncate this.rolls.0.text}}}</div>
</div>