<div id="tninja-table-{{this.id}}" class="tninja-table">
    <div class="tninja-table-header">
        <a class="button tninja-reroll" title="Reroll results" onclick="ui.tableNinja.rollOneTable('{{this.id}}')"><i class="fa fa-dice"></i></a>
        <a class="button tninja-reroll" title="Copy to clipboard" onclick="tninjaCopyToClipboard('tninja-text-{{this.id}}')"><i class="fa fa-copy"></i></a>
        <label class="tninja-label">{{this.name}}</label>
    </div>
    <div id="tninja-text-{{this.id}}" onclick="ui.tableNinja.choose('tninja-choose-{{this.id}}')" class="tninja-text" onchange="overflowManager('{{this.id}}');">
        {{tableNinjaSelectedText this}}
    </div>
</div>

<div class="tninja-choose" id="tninja-choose-{{this.id}}">
    <h2>{{this.name}}</h2>
    <ul>
        {{#each this.rolls}}
            <li {{#ifCond ../selected '==' @index}}class="tninja-selected"{{/ifCond}} onclick="ui.tableNinja.updateText('{{../id}}', {{@index}}, this.innerHTML)">{{this.text}}</li>
        {{/each}}
    </ul>
</div>

<script type="text/javascript">
    overflowManager("{{this.id}}");
</script>
